body{
    background-color: black;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.header{
    text-align: center;
    height: 100vh;
}

.container-fluid{
  padding: 0px;
  width: 100%;
}

.header-background {
    position: absolute;
    width: 100%;
    height: 110%;
    opacity : 0.4;
    z-index: -1;
    background-image: url('lorde.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header h1{
    margin-top: 0px;
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
}



.header p.description{
    padding-top: 50px;
    color: white;
    text-align: justify;
    font-size: 20px;
    width: 70%;
    padding-left: 15%;
}



.contagem-de-palavras{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 37%, rgba(7,5,66,1) 79%, rgba(9,9,121,1) 100%);
    padding-bottom: 50px;
}

.contagem-de-palavras h2{
    margin: 0px;
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
}

.contagem-de-palavras p.description{
    color: white;
    text-align: justify;
    padding-top: 50px;
    font-size: 18px;
    width: 70%;
    padding-left: 15%;
}

.contagem-de-palavras a{
    color: white;
    font-style: italic;
}


.chart-word-count-container{
    padding-top: 50px;
    display: block;
    width: 40%;
    padding-left: 30%;
}

.contagem-de-palavras p.explanation{
    margin-top: 40px;
    color: white;
    text-align: justify;
    padding-top: 50px;
    font-size: 18px;
    width: 70%;
    padding-left: 15%;
}

.palavras-mais-populares{
    background: rgba(9,9,121,1);
    background: linear-gradient(180deg, rgba(9,9,121,1) 0%, rgba(9,86,121,1) 55%, rgba(9,121,60,1) 98%);
    padding-bottom: 50px;
}

.palavras-mais-populares h2{
    margin: 0px;
    color: white;
    text-align: center;
    padding-top: 100px;
    font-size: 50px;
}

.palavras-mais-populares p.description{
    color: white;
    text-align: justify;
    padding-top: 50px;
    font-size: 18px;
    width: 70%;
    padding-left: 15%;
}

.chart-most-popular-words-container{
    padding-top: 50px;
    display: block;
    width: 40%;
    padding-left: 30%;
}

.palavras-mais-populares p.explanation{
    color: white;
    text-align: justify;
    padding-top: 50px;
    font-size: 18px;
    width: 70%;
    padding-left: 15%;
}


.palavras-mais-populares-individual{
    background: rgb(9,121,60);
    background: linear-gradient(180deg, rgba(9,121,60,1) 0%, rgba(136,142,41,1) 46%, rgba(195,205,28,1) 98%);
    padding-bottom: 50px;
}

.palavras-mais-populares-individual h2{
    margin: 0px;
    color: white;
    text-align: center;
    padding-top: 100px;
    font-size: 50px;
}

.palavras-mais-populares-individual p.description{
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 18px;
    width: 70%;
    padding-left: 15%;
}

.chart-most-popular-words-individual-container{
    display: inline-block;
    width: 90%;
    padding-left: 5%;
}
.chart-most-popular-words-melodrama-container,
.chart-most-popular-words-pureHeroine-container{
    float: left;
    padding-top: 100px;
    width: 45%;
}

.chart-most-popular-words-pureHeroine-container{
   padding-left: 5%;
}

.palavras-mais-populares-individual p.explanation{
    margin-top: 40px;
    color: white;
    text-align: justify;
    padding-top: 50px;
    font-size: 18px;
    width: 70%;
    padding-left: 15%;
}



.TFIDF{
    background: rgb(195,205,28);
    background: linear-gradient(180deg, rgba(195,205,28,1) 0%, rgba(224,171,83,1) 20%, rgba(222,160,0,1) 91%);
    padding-bottom: 50px;
}

.TFIDF h2{
    margin: 0px;
    color: white;
    text-align: center;
    padding-top: 100px;
    font-size: 50px;
}

.TFIDF p.description{
    color: white;
    text-align: justify;
    padding-top: 50px;
    font-size: 18px;
    width: 70%;
    padding-left: 15%;
}

.TFIDF a{
    color: white;
    font-style: italic;
}



.TFIDF p.explanation{
    color: white;
    text-align: justify;
    padding-top: 50px;
    font-size: 18px;
    width: 70%;
    padding-left: 15%;
}


.chart-TFIDF-container{
    display: inline-block;
    width: 90%;
    padding-left: 5%;
}
.chart-TFIDF-melodrama-container,
.chart-TFIDF-pureHeroine-container{
    float: left;
    padding-top: 100px;
    width: 45%;
}

.chart-TFIDF-pureHeroine-container{
   padding-left: 5%;
}



.NRC-All{
    background: rgb(222,160,0);
    background: linear-gradient(180deg, rgba(222,160,0,1) 0%, rgba(198,87,35,1) 49%, rgba(199,0,64,1) 91%); 
    padding-bottom: 50px;
}

.NRC-All h2{
    margin: 0px;
    color: white;
    text-align: center;
    padding-top: 100px;
    font-size: 50px;
}

.NRC-All p.description{
    color: white;
    text-align: justify;
    padding-top: 50px;
    font-size: 18px;
    width: 70%;
    padding-left: 15%;
}

.NRC-All a{
    color: white;
    font-style: italic;
}


.NRC-All p.explanation{
    color: white;
    text-align: justify;
    padding-top: 50px;
    font-size: 18px;
    width: 70%;
    padding-left: 15%;
}


.chart-NRC-All-container{
    display: inline-block;
    width: 90%;
    padding-left: 5%;
}
.chart-NRC-All-melodrama-container,
.chart-NRC-All-pureHeroine-container{
    float: left;
    padding-top: 100px;
    width: 45%;
}

.chart-NRC-All-pureHeroine-container{
   padding-left: 5%;
}



.NRC-PosNeg{
    background: rgb(199,0,64);
    background: linear-gradient(180deg, rgba(199,0,64,1) 0%, rgba(232,56,101,1) 49%, rgba(237,108,149,1) 91%); 
    padding-bottom: 50px;
}

.NRC-PosNeg h2{
    margin: 0px;
    color: white;
    text-align: center;
    padding-top: 100px;
    font-size: 50px;
}

.NRC-PosNeg p.description{
    color: white;
    text-align: justify;
    padding-top: 50px;
    font-size: 18px;
    width: 70%;
    padding-left: 15%;
}

.NRC-PosNeg h3{
    margin: 0px;
    color: white;
    text-align: center;
    padding-top: 100px;
    font-size: 30px;
}


.chart-NRC-PosNeg-melodrama-container{
    display: inline-block;
    width: 90%;
    padding-left: 5%;
}
.chart-NRC-Pos-melodrama-container,
.chart-NRC-Neg-melodrama-container{
    float: left;
    padding-top: 100px;
    width: 45%;
}

.chart-NRC-Neg-melodrama-container{
    padding-left: 5%;
}


.chart-NRC-PosNeg-pureHeroine-container{
    display: inline-block;
    width: 90%;
    padding-left: 5%;
}
.chart-NRC-Pos-pureHeroine-container,
.chart-NRC-Neg-pureHeroine-container{
    float: left;
    padding-top: 100px;
    width: 45%;
}

.chart-NRC-Neg-pureHeroine-container{
    padding-left: 5%;
}

.NRC-PosNeg p.explanation{
    color: white;
    text-align: justify;
    padding-top: 50px;
    font-size: 18px;
    width: 70%;
    padding-left: 15%;
}

.footer{
    background: rgba(237,108,149,1);
}

.footer hr{
    margin: 0;
    border-top: 1px solid white;
    width: 80%;
    margin-left: 10%;
    color: transparent;
}

.footer a{
    color: white;
    text-decoration: underline;
}

.footer p.description{
    color: white;
    text-align: justify;
    padding-top: 10px;
    font-size: 18px;
    width: 70%;
    padding-left: 15%;
    padding-bottom: 40px;
    margin-bottom: 0;
}




@media only screen and (max-device-width: 1024px){
  .header{
    height: auto;
  }

  .header-background {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity : 0.4;
    background: url(lorde.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .header h1{
      font-size: 30px;
      padding-top: 30px;
  }

  .header p.description{
      font-size: 15px;
      padding-top: 25px;
      padding-bottom: 20px;
  }

  .contagem-de-palavras p.description,
  .contagem-de-palavras p.explanation
  {
    font-size: 15px;
    width: 90%;
    padding-left: 5%;
  }


  .chart-word-count-container{
      padding-top: 50px;
      padding-left: 0px;
      display: block;
      width: 95%;
      padding-left: 2.5%;
  }

  .palavras-mais-populares p.description,
  .palavras-mais-populares p.explanation{
    font-size: 15px;
    width: 90%;
    padding-left: 5%;
  }

  .chart-most-popular-words-container{
      padding-top: 50px;
      width: 95%;
      padding-left: 2.5%;
  }


  .palavras-mais-populares-individual p.description,
  .palavras-mais-populares-individual p.description{
    font-size: 15px;
    width: 90%;
    padding-left: 5%;
  }

  .chart-most-popular-words-individual-container{
      width: 100%;
      padding-left: 0px;
  }
  .chart-most-popular-words-melodrama-container,
  .chart-most-popular-words-pureHeroine-container{
      width: 90%;
      padding-left: 5%;
      padding-top: 20px;
  }


  .palavras-mais-populares-individual p.explanation{
      padding-top: 10px;
      font-size: 15px;
      width: 90%;
      padding-left: 5%;
  }

  .TFIDF p.description,
  .TFIDF p.explanation{
    font-size: 15px;
    width: 90%;
    padding-left: 5%;
  }

  .chart-TFIDF-container{
    width: 100%;
    padding-left: 0px;
    }

    .chart-TFIDF-melodrama-container,
    .chart-TFIDF-pureHeroine-container{
        width: 90%;
        padding-left: 5%;
        padding-top: 20px;
    }

  .NRC-All p.description,
  .NRC-All p.explanation{
    font-size: 15px;
    width: 90%;
    padding-left: 5%;
  }

  .chart-NRC-All-container{
    width: 100%;
    padding-left: 0px;
    }

    .chart-NRC-All-melodrama-container,
    .chart-NRC-All-pureHeroine-container{
        width: 90%;
        padding-left: 5%;
        padding-top: 20px;
    }


  .NRC-PosNeg p.description,
  .NRC-PosNeg p.explanation{
    font-size: 15px;
    width: 90%;
    padding-left: 5%;
  }

  .chart-NRC-PosNeg-melodrama-container,
  .chart-NRC-PosNeg-pureHeroine-container{
    width: 100%;
    padding-left: 0px;
    }

    .chart-NRC-Pos-melodrama-container,
    .chart-NRC-Pos-pureHeroine-container,
    .chart-NRC-Neg-melodrama-container,
    .chart-NRC-Neg-pureHeroine-container{
        width: 90%;
        padding-left: 5%;
        padding-top: 20px;
    }


    .footer p.description{
    font-size: 15px;
    width: 90%;
    padding-left: 5%;
  }



}
